name: CloudShip End-to-End CI/CD

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Login to Docker Hub
      run: |
        echo "${{ secrets.DOCKER_PASSWORD }}" | docker login \
          -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

    - name: Build Docker image
      run: |
        docker build -t rushipanchal/cloudship:${{ github.sha }} .

    - name: Push Docker image
      run: |
        docker push rushipanchal/cloudship:${{ github.sha }}

    - name: Deploy to Kubernetes
      uses: appleboy/ssh-action@v1.0.3
      with:
        host: ${{ secrets.EC2_HOST }}
        username: ${{ secrets.EC2_USER }}
        key: ${{ secrets.EC2_SSH_KEY }}
        script: |
          kubectl set image deployment/cloudship-deployment \
            cloudship=rushipanchal/cloudship:${{ github.sha }} \
            -n cloudship
          kubectl rollout status deployment/cloudship-deployment -n cloudship
